{{ if .Site.Data.article.premium.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="flex-1-col">
      <div>
        <img
          class="lozad img-responsive image-left-overflow"
          src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
          data-src="{{ .Site.Data.article.main.image.x | absURL }}"
          data-srcset="{{ .Site.Data.article.main.image.x | absURL }} 1x, {{ .Site.Data.article.main.image._2x | absURL }} 2x"
          alt=""
        />
      </div>
      <div class="my-auto my-auto">
        <h2>{{ .Title }}</h2>
        <p class="lead">
          {{ .Content | safeHTML }}
        </p>
      </div>
    </div>
  </div>
</section>
{{ end }}
