{
}
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <h2 class="rad-fade-down" style="align-self: center; margin: 0 auto">{{ .Site.Data.homepage.leads.title }}</h2>
        <div class="row row--padded mb-0 rad-fade-down" style="display: flex; flex-flow: row wrap; align-items: center; justify-content: center;">
            {{ range .Site.Data.homepage.leads.items }}
            <div class="col-8 col-md-3 mb-8 mb-md-3 card-noborder">
                <img class='lozad img-responsive lead-img'
                    src="data:image/gif;base64,R0lGODlhBwACAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAIAAAIDjI9YADs="
                    data-src="{{ .image.x | absURL }}"
                    data-srcset="{{ .image.x | absURL }} 1x, {{ .image._2x | absURL }} 2x" alt="{{ .title }}" />
                <a href="{{ .url | absURL }}" class="btn btn-primary btn-leads">
                    <ion-icon name="{{ .icon }}"></ion-icon>
                    &nbsp;{{ .content }}
                </a>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}