{{ if .Site.Data.homepage.overview.enable }}
<section id="portfolio" class="section section--border-bottom">
  <div class="container"
    style="display: flex; flex-flow: row wrap; align-items: center; justify-content: space-between">
    <div class="col-12 col-md-8 my-auto my-auto">
      <p class="lead">
        {{ .Site.Data.homepage.overview.content | safeHTML }}
      </p>
    </div>
    <div>
      <a href="{{ .Site.Data.homepage.overview.button.URL | absURL }}" class="btn btn-primary">
        <ion-icon name="{{ .Site.Data.homepage.overview.button.icon }}"></ion-icon>&nbsp;{{ .Site.Data.homepage.overview.button.btnText }}
      </a>
      <a href="{{ .Site.Data.homepage.overview.button2.URL | absURL }}" class="btn btn-frameless">
        <ion-icon name="{{ .Site.Data.homepage.overview.button2.icon }}"></ion-icon>&nbsp;{{ .Site.Data.homepage.overview.button2.btnText }}
      </a>
    </div>
  </div>
</section>
{{ end }}