/* You can customize theme styles here */
ion-icon {
    font-size: 18px;
    margin-right: 8px;
  }

.qb-search-home-input {
  background: rgba(0,0,0,0);
  color: white;
  border-bottom-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  border-bottom: 0px;
  height: 30px;
  font-size: 12px;
}

.btn-primary, .btn-frameless {
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.experience__company {
  color: #50CC98!important;
}

.flex-1-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.btn-leads {
  margin: 10px;
  margin-top: 20px;
}

.card-noborder {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: space-between;
}

.lead-img {
  max-height: 160px;
}

.testimonial__author-info span {
  color: #50cc98;
}

.cta-button {
  width: 40%;
  margin: 0 auto;
  display: block;
}

.team-image {
  margin-right: 16px;
  width: 78px;
  height: 78px;
  border-radius: 100%
}

.icon-container {
  background-color: #50cc98; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  border: 1px solid rgba(51,51,51,0.2);
  border-radius: 100%;
  height: 78px;
  width: 78px;
  min-width: 78px;
}

.icon-container-sm {
  background-color: #50cc98; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  border: 1px solid rgba(51,51,51,0.2);
  border-radius: 100%;
  height: 52px;
  width: 52px;
  min-width: 52px;
}

.category-link:hover {
  text-decoration: none;
}

.category {
  border: 1px solid rgba(51,51,51,0.2);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 20px;
  margin-bottom: 10px !important;
}

.category:hover {
  border: 1px solid #50cc98;
  text-decoration: none;
}

.icontainer {
  border-radius: 100%;
  background-color: #50cc98;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.icontainer:hover {
  filter: brightness(0.9);
}

.guide {
  border: 1px solid rgba(51,51,51,0.2);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: -20px !important;
  width: 100%;
  margin-top: 50px;
}

.guide img {
  max-height: 400px;
  max-width: 100%;
  margin: 0 auto;
}

.guide li {
  margin-bottom: 5px;
  margin-left: 5px;
  max-width: 100%;
}

.guide p {
  max-width: 100%;
}

.guide-container {
  display: flex;
  flex-flow: row wrap-reverse;
  align-items: flex-end;
  justify-content: center;
}

.toolbar {
  padding-top: 20px;
  width: 20%;
  height: fit-content;
}

.chip {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  border: 1px solid #50CC98;
  margin: 5px;
}

.step {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  min-height: 100px;
  margin-bottom: 20px;
}

.step img {
  flex: 1;
  height: 200px;
  border: none;
}

.step-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}