/* You can customize theme styles here */
ion-icon {
    font-size: 18px;
    margin-right: 8px;
  }

.qb-search-home-input {
  background: rgba(0,0,0,0);
  color: white;
  border-bottom-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  border-bottom: 0px;
  height: 30px;
  font-size: 12px;
}

.btn-primary, .btn-frameless {
  border-radius: 10px;
  padding-right: 20px;
  padding-left: 20px;
}

.experience__company {
  color: #50CC98!important;
}

.flex-1-col {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

table {
  width: 100%;
}

.btn-leads {
  margin: 10px;
  margin-top: 20px;
}

.card-noborder {
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: space-between;
}

.lead-img {
  max-height: 160px;
}

.testimonial__author-info span {
  color: #50cc98;
}

.cta-button {
  width: 30%;
  margin: 0 auto;
  display: block;
}

.team-image {
  margin-right: 16px;
  width: 78px;
  height: 78px;
  border-radius: 100%
}