<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <header>
            <div
                style="display: flex; flex-flow: row wrap; align-items: center; justify-content: flex-start; width: 100%;">
                <a href="../" class="category-link icontainer" style="color: #101010">
                    <ion-icon name="arrow-back" size="small" style="color: #fff; margin: 0 auto;"></ion-icon>
                </a>
                <ion-icon name="{{ .Params.icon }}" size="large"></ion-icon>
                <h3 style="margin-bottom: 0; margin-left: 10px;"> {{ .Title }} </h3>
            </div>
        </header>
        <div class="guide"
            style="display: flex; flex-flow: column nowrap; width: 100%">
            <h3>Requirements</h3>
            <hr>
            <div style="display: flex; flex-flow: row wrap;">
                {{ range .Params.requirements }}
                <div class="chip">
                    <ion-icon name="{{ .icon }}"></ion-icon>
                    <p style="margin: 0; margin-left: 5px;">{{ .name }}</p>
                </div>
                {{ end }}
            </div>
        </div>

        <div class="guide"
        style="display: flex; flex-flow: column nowrap; width: 100%">
        <h3>Steps</h3>
        <hr>
        <div style="display: flex; flex-flow: column nowrap;">
            {{ range .Params.steps }}
            <div class="step">
                <div style="flex: 4">
                    <h5>{{ .name }}</h5>
                    <p style="margin: 0;">{{ .directions }}</p>
                </div>
                <img src="{{ .image }}" alt=""/>
            </div>
            {{ end }}
        </div>
    </div>

        <div class="guide">
            {{ .Content }}
        </div>

        <div class="guide"
        style="display: flex; flex-flow: column nowrap; width: 100%">
        <h3>Outcomes</h3>
        <hr>
        <div style="display: flex; flex-flow: row wrap;">
            {{ range .Params.outcomes }}
            <div class="chip">
                <ion-icon name="{{ .icon }}"></ion-icon>
                <p style="margin: 0; margin-left: 5px;">{{ .name }}</p>
            </div>
            {{ end }}
        </div>
    </div>
    </div>
    </div>
</section>