+++

+++
<section class="section rad-animation-group section--border-bottom">
    <div class="container">
        <header>
            <div style="display: flex; align-items: center; justify-content: flex-start; width: 100%">
                <img src="{{ .Params.header}}" alt="" style="max-height: 20vh; margin-bottom: 52px;"/>
            </div>
            <div
                style="display: flex; flex-flow: row wrap; align-items: center; justify-content: flex-start; width: 100%;">
                <a href="../" class="category-link icontainer" style="color: #101010">
                    <ion-icon name="arrow-back" size="small" style="color: #fff; margin: 0 auto;"></ion-icon>
                </a>
                <ion-icon name="{{ .Params.icon }}" size="large"></ion-icon>
                <h3 style="margin-bottom: 0; margin-left: 10px;"> {{ .Title }} </h3>
            </div>
        </header>

        {{ if .Params.custom }}

        <div class="row--padded mb-0 rad-fade-down guide" style="padding-top: 20px;">
            {{ .Content }}
        </div>

        {{ else }}

        <div class="guide" style="display: flex; flex-flow: column nowrap; width: 100%">
            <h3>Requirements</h3>
            <hr>
            <div style="display: flex; flex-flow: row wrap;">
                {{ range .Params.requirements }}
                <div class="chip">
                    <ion-icon name="{{ .icon }}"></ion-icon>
                    <p style="margin: 0; margin-left: 5px;">{{ .name }}</p>
                </div>
                {{ end }}
            </div>
        </div>

        <div class="guide" style="display: flex; flex-flow: column nowrap; width: 100%">
            <h3>Steps</h3>
            <hr>
            <div style="display: flex; flex-flow: column nowrap;">
                {{ range .Params.steps }}
                <div class="step">
                    <div class="testimonial__author-info step-header">
                        <div class="icon-container-sm" style="margin-right: 20px;">
                            <h5 style="color: white; margin: 0">{{ .weight }}</h6>
                        </div>
                    </div>
                    <div style="flex: 2" class="testimonial__author-info">
                        <span style="text-transform: uppercase;">{{ .name }}</span>
                        <p style="margin: 0;">{{ .directions }}</p>
                    </div>
                    {{ if .enableimg }}
                    <img src="{{ .imgsrc }}" alt="" class="step-img"/>
                    {{ end }}
                </div>
                {{ end }}
            </div>
        </div>

        <div class="guide" style="display: flex; flex-flow: column nowrap; width: 100%">
            <h3>Outcomes</h3>
            <hr>
            <div style="display: flex; flex-flow: row wrap;">
                {{ range .Params.outcomes }}
                <div class="chip">
                    <ion-icon name="{{ .icon }}"></ion-icon>
                    <p style="margin: 0; margin-left: 5px;">{{ .name }}</p>
                </div>
                {{ end }}
            </div>
        </div>
        
        <div class="guide" style="display: flex; flex-flow: column nowrap; width: 100%">
        <h3>Why It Works</h3>
        <hr>
        <div style="display: flex; flex-flow: row wrap;">
            {{ .Content }}
            </div>
        </div>
        {{ end }}
    </div>
    </div>
</section>